<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body class="home">
    <header>
        <section>
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <h4>Lugar para poner la barra de busqueda </h4>
        </section>

        <div>
            <p>Comprá en cuotas y sin tarjeta de credito</p>
        </div>

        <nav>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="/">Crea tu cuenta</a></li>
                <li><a href="/">Ingresa</a></li>
                <li><a href="/">Tus compras</a></li>
            </ul>
        </nav>
        <div>
            <img src="/images/img-home-banner.jpg" alt="" width="500">
        </div>
    </header>

    <main>
        <section class="basado_etuv">

            <h1>Basado en tu ultima vista</h1>

            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="500">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3><b>Cafetera Moulinex</b></h3>
            </div>

            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="500">
                <p>$230.00</p>
                <p> 20% OFF</p>
                <h3> <b>MacBook Pro 2019</b> </h3>
            </div>

            <div>
                <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="" width="500">
                <p>$70.500</p>
                <p> 10% OFF</p>
                <h3> <b>Samsung Galaxy S10</b> </h3>
            </div>

            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="500">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3><b>SmartTv Samsung 43"</b></h3>
            </div>
        </section>

        <br>
        <section class="basado_etuv">

            <h1>Basado en tu ultima vista</h1>

            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="500">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3><b>Cafetera Moulinex</b></h3>
            </div>

            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="500">
                <p>$230.00</p>
                <p> 20% OFF</p>
                <h3> <b>MacBook Pro 2019</b> </h3>
            </div>

            <div>
                <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="" width="500">
                <p>$70.500</p>
                <p> 10% OFF</p>
                <h3> <b>Samsung Galaxy S10</b> </h3>
            </div>

            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="500">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3><b>SmartTv Samsung 43"</b></h3>
            </div>
        </section>


    </main>
    <footer>
        <article>
            <h4> Pagá con tarjeta o en efectivo </h4>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde $ 2.500</h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
    </footer>
</body>

</html>