<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/dab99d869d.js" crossorigin="anonymous"></script>
</head>

<body class="register">
    <header>
        <div class="home__header_logo_buscador">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre" height='100' width='200'>
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar productos,marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <br>


        <div class="icon_compráencuotas-div">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Comprá en cuotas y sin tarjeta de credito</p>
        </div>

        <nav class="list">
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
        </nav>
        <br>

        <nav class="list2">
            <ul>
                <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-arrow-up-from-bracket fa-rotate-90"></i></li>
                <li><a href="/productCart">Tus compras</a><i class="fa-solid fa-cart-plus"></i></li>
            </ul>

            <br>

        </nav>
        <div class="header_burger--menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>
        <div class="baner">
            <img src="/images/img-home-banner.jpg" alt="" width="100%">
        </div>

    </header>
    <main class="login_main">
        <section class="login_main_seccion">
            <div class="login_main_title">
                <h3>Login</h3>
                <hr>
            </div>
            <form action="" class="form">
                <div class="login_form">
                    <label class="form__label" for="userName">Nombre de usuari@</label>
                    <input class="form__input-login" id="userName" type="text" placeholder="Escribi tu Nombre de usuario"
                        name="userName">
                    <small class="form_msg-error">Estos datos son obligatorios</small>
                </div>

                <div class="login_form">
                    <label class="form__label" for="password">Contraseña</label>
                    <input class="form__input-login" id="password" type="password" placeholder="tu contraseña" name="password">
                </div>
                <div class="login_end">
                    
                    <button class=" button button__primary-login" type="submit">Enviar</button>
                </div>
               


            </form>

        </section>

    </main>
    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4> Pagá con tarjeta o en efectivo </h4>
            <p class="cuerpotxt"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <br>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="cuerpotxt"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="cuerpotxt"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <p class="cuerpotxt">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>