
header {
    font-family: 'Roboto';
    background-color: #EAC926;
    width: 100%;
    height: 335px;
}

.icon_compráencuotas-div {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

ul,li,a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    display: none;
}

.list2  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    display: none;
}

.home__header_logo_buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 50%;
    text-align: center;
    height: auto;
}

.buscador {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

input[type="text"] {
    padding-right: 15px;
    width: 80%;

}

i.fa-magnifying-glass {
    position: absolute;
    right: 0 auto;
}




.header_burger--menu {
    width: 40px;
    height: 40px;
    border: 2px solid #03264C;
    ;
    border-radius: 8px;
    background-color: #03264C;
    margin-left: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_burger--menu i {
    font-size: 20px;
    color: white;
}


body {
    font-family: 'Roboto';
    background-color: #ebebeb;
    width: 100%;



}

h1 {
    font-size: 24px;
    color: #666;
    margin-left: 25px;
}




.productos_container {
    width: 80%;
}

.home_main_products {
    padding: 3px;
    margin: 3px;
    width: 90%;
}

.home_main_products img {
    width: 380px;
    height: 400px;
}

.home_main_products_descripcion {
    border: 2px solid white;
    
    border-radius: 3px;
    background-color: white;
    margin-bottom: 10px;
    width: 375px;
}


.precio {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;

}

.descuento {
    font-size: 16px;
    color: #39b54a;
    margin-top: 10px;
    margin-left: 20px;

}

.descripcion {
    font-size: 16px;
    display: none;
}

main {
    margin: 0 auto;
    display: inline-block;
    width: 90%;
}

main section {
    margin-bottom: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

main i {
    color: #39b54a;
    border-radius: 50%;
    border: 1px solid #39b54a;
    background-color: #FFF;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    
    margin-left: 300px;
    margin-top: 0%;

}

main h3 {
    color: #666;
    margin-left: 20px;
}




footer {
    text-align: center;
    padding: 5px 0;
    background-color: #ffffff;

}

footer h4 {
    font-size: 16px;
    font-weight: 900;
    color: #666;
}

footer p {
    font-size: 12px;
    color: #ebebeb;
    margin: 3px 50px;
}

footer i {
    color: #03264C;
    font-size: 25px;
}

footer article {
    margin-bottom: 40px;
    text-align: center;
    padding: 5px 0;
    background-color: #ffffff;
}



@media (min-width: 768px){
    header {
        display: flex;
        flex-wrap: wrap;
      justify-content:space-between;
        width: 100%;
        height: 285px;
    }

 

    .header_burger--menu {

        display: none;

    }

    ul,li,a {
        display: flex;
        flex-wrap: row; 
        gap: 5px;
        justify-content: space-between;
        margin-left: 5px;

    }
    .list2  {
        display: flex;
        flex-wrap: row; 
        gap: 3px;
        justify-content: space-between;
    }

    .icon_compráencuotas-div {

        margin-left: 0%;
        margin-right: 25px;
    }

    .buscador {
        margin-left: 0%;

    }

    .descripcion {
        font-size: 16px;
        display: block;
    }
  

    .productos_container {
        width: 20%;
        display:inline-block;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 100px;

    }

    .home_main_products {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        
        
    }
    
    .home_main_products_descripcion {
        
        margin-bottom: 10px;
        width: 300px;
    }
    .home_main_products img {
        width: 305px;
        height: 330px;
    }

    footer {
        width: 100%;
    }
    main i {
       
        margin-left: 250px;
        margin-top: -10px;
    
    }
}

@media (min-width: 1140px) {
    header {
        height: 410px;
    }

   
    .logo {
        width: 400px;
        
        
    }
    .icon_compráencuotas-div {

        margin-right: 300px;
    }

    .buscador {
        margin-left: -50px;

    }
    .productos_container {
        width: 20%;
        margin-left: 10px;
        margin-right: 10px;
       
      

    }
  
    
    .home_main_products {
        display:flex;
      justify-content: space-around;
        
        margin-left: 100px;
       
    }
  
    .home_main_products img {
        width: 250px;
        height: 250px;
    }
    .home_main_products_descripcion {
        margin-bottom: 10px;
        width: 245px;
    }
    
    
    main i {
   
        margin-left: 200px;
        margin-top: -150px;
    
    }

}